<!DOCTYPE html>
<html>
    <head>
        <title>Snek</title>
        <script src="/lib/angular.min.js"></script>
        <script src="/lib/jquery.min.js"></script>
        <script src="/app/snek.js"></script>
        <link href="/main.css" rel="stylesheet" type="text/css">
    </head>

    <body ng-app="snek" ng-controller="SnekCtrl">
        <div class="row" ng-repeat="col in board">
            <div class="column" ng-style="{'background-color': colour($parent.$index, $index)}" ng-repeat="row in column track by $index"></div>
        </div>
        <button id="start" ng-click="start()">Start</button>
    
    </body>
</html>
